.catalogBtn {
    width: 200px;
    height: 50px;
    display: block;
    margin: 20px auto;
  
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
  
    background-color: #1E2226;
    box-sizing: border-box;
    overflow: hidden;
}

.imgBanner {
    width: 1000px;
    height: 400px;
    display: block;
    margin: 25px auto;
}

.imgBanner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.imgBanner button {
    width: 60px;
    height: 60px;

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;

    background: rgba(30, 34, 38, 0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.left, .right {
    position: relative;
    top: -230px;
}

.left {
    left: 20px;
}

.right {
    left: 860px;
}