/*Importo fuentes de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #E5E5E5;
}

.msgContainer {
  width: 930px;
  height: auto;

  margin: 50px auto;
  padding: 40px;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  font-size: 64px;
  letter-spacing: 0.25rem;
}

h2 {
  font-size: 42px;
  letter-spacing: 0.15rem;
}

h3 {
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.15rem;
}

h4 {
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.08rem;
}

p {
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.08rem;
}

nav {
  width: 100%;
  height: 100px;

  margin: 0;
  padding: 20px 40px;

  background-color: #32353b;
  box-sizing: border-box;
  overflow: hidden;
}

nav ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  overflow: hidden;
}

nav ul li {
  width: 110px;
  height: 100%;
  display: inline-block;

  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;

  transition: all 0.3s ease;
}

.linkLong {
  width: 140px;
}

nav ul li a {
  width: 100%;
  height: 100%;
  display: block;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;

  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  letter-spacing: 0.20rem;

  text-decoration: none;
}

.shoppingCartIcon {
  font-size: 25px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav ul li:hover,
.shoppingCartIcon:hover,
.navigationContainer a:hover {
  color: #E6B020;
}

.navigationContainer {
  width: 100%;
  height: 40px;
  margin: 15px 0;
}

.navigationContainer a, span {
  color: #646464;
  font-weight: 600;
  font-size: 16px;

  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
}

/* -------- Item Component Styles -------- */
.filmContainer {
  width: 210px;
  height: 385px;

  margin: 0 0 50px 30px;
  padding: 0 0 20px 0;
  float: left;

  cursor: pointer;

  /* border-radius: 15px; */
  box-sizing: border-box;
  overflow: hidden;
}

.filmContainer:nth-of-type(4n+1){
  margin-left: 0;
}

.filmImg {
  width: 210px;
  height: 325px;
}

.filmImg img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 0.5s ease;
}

.filmText {
  width: 100%;
  height: 230px;
  padding: 5px 15px;

  position: relative;
  top: 0;

  transition: all 0.5s ease;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
}

.filmText h4 {
  height: 20px;
  margin: 20px 0;
}

.price {
  margin: 10px 0;
}

.filmText p {
  height: 60px;
  margin: 0 0 10px 0;
}

.filmContainer:hover .filmText {
  top: -170px;
}

.filmContainer:hover {
  box-shadow: 0 0 20px #bababa;
}

.filmContainer:hover .filmImg img {
  transform: scale(1.1);
	filter: blur(2px);
}

.filmText a {
  width: 120px;
  height: 30px;
  display: block;
  margin: 0 auto;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;

  text-align: center;
  text-decoration: none;
  line-height: 30px;

  background: none;
  cursor: pointer;
  border: 1px solid black;
  text-transform: uppercase;
} 

/* -------- ItemDetail Component Styles -------- */

.filmCard {
  width: 900px;
  height: auto;

  margin: 100px auto;
  padding: 0;

  background-color: white;
  box-sizing: border-box;
  overflow: hidden;
}

.filmCardImage {
  width: 212px;
  height: 325px;
  float: left;
}

.filmCardImage  img {
  width: 100%;
  height: 100%;
  display: block;
}

.filmCardText {
  width: 650px;
  height: auto;
  padding: 0 20px 0 0;
  float: right;
  box-sizing: border-box;
}

.filmCardText h3 {
  font-size: 24px;
}

#filmCardPrice {
  font-size: 22px;
}

/*-------------------------- LOADER --------------------------*/
/*Fondo negro / fade*/
.loader {
	width: 100%;
	height: 100vh;

	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	z-index: 1001;

	display: flex;
	justify-content: center;
	align-items: center;

}

/*Bolitas efecto animacion*/
.loader > span {
	display: inline-block;
	background-color: #FF8000;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	margin: 0 8px;
	transform: translate3d(0);
	animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
	background-color: #00E054;
	animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
	background-color: #40BCF4;
	animation-delay: 0.4s;
}

/*Defino la animación 'Bounce' */
@keyframes bounce {
	to {
		width: 16px;
		height: 16px;
		transform: translate3d(0, -16px, 0);
	}
}