/*Importo fuentes de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: #14181c url('img/background.png') 0 -1px repeat-x;
}

.msgContainer {
  width: 930px;
  height: auto;

  margin: 50px auto;
  padding: 40px;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  font-size: 64px;
  letter-spacing: 0.25rem;
}

h2 {
  font-size: 42px;
  letter-spacing: 0.15rem;
}

h3 {
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.15rem;
}

h4 {
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.08rem;
}

p {
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.08rem;
}

/*-------------------------- LOADER --------------------------*/
.loader {
	width: 100%;
	height: 100vh;

	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	z-index: 100001;

	display: flex;
	justify-content: center;
	align-items: center;

}

.loader > span {
	display: inline-block;
	background-color: #FF8000;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	margin: 0 8px;
	transform: translate3d(0);
	animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
	background-color: #00E054;
	animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
	background-color: #40BCF4;
	animation-delay: 0.4s;
}

@keyframes bounce {
	to {
		width: 16px;
		height: 16px;
		transform: translate3d(0, -16px, 0);
	}
}